@charset "UTF-8";

#navi { 
    list-style-type: none; 
    height: 40px; 
    padding: 0; 
    margin: 0;
}

#navi li { 
    float: left; 
    position: relative; 
    padding: 0; 
    line-height: 40px; 
    background:cadetblue;
}

#navi li a { 
    display: block; 
    font-family:"굴림"; 
    font-weight:600; 
    font-size:14px;
    padding: 5px 25px; 
    color: cyan;
    text-decoration: none; 
}

#navi li a:hover {
    color:green;
}

#navi li ul {
    opacity: 0;
    position: absolute;
    left: 0;
    width: 180px;
    background: black;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#navi li:hover ul {
    opacity: 1;
}

#navi li ul li {
    float: none;
    position: static;
    height: 0;
    line-height: 0;
    background: none;
}

#navi li:hover ul li {
    height: 30px; 
    line-height: 30px;
    padding:5px 0;
}

#navi li ul li a {
    background: greenyellow; 
    font-family:"굴림"; 
    font-weight:600; 
    font-size:14px;
    color:firebrick; 
}

#navi li ul li a:hover{
    background : green;
    color:white;
}

#navi li {
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

#navi li a {
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

#navi li ul {
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

#navi li ul li {
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    
}
	