<html>
<head>
<meta charset="UTF-8">
<title>로그인 폼 양식</title>
<style>
	#login {
		width : 300px;
		height : 200px;
		background : darkred;
		color : white;
	}
</style>
</head>
<body>
	<h1>로그인 양식</h1>
	<div id="login">
		<form action="/test/test4.do" method="post">
			ID : <input type="text" name="userId" id="userId" /> <br />
			PS : <input type="password" name="userPwd" id="userPwd" />  <br>
			<br>
			<input type="submit" value="로그인" />
			&nbsp;&nbsp;&nbsp;
			<input type="reset" value="작성 취소" />
		</form>
	</div>
	
	<a href="../index.html">메인으로 돌아가기 . . . </a>
</body>
</html>


