<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>오늘의 색상 선택하기!</title>
</head>
<body>
	<h1>오늘의 색상 선택하기</h1>
	
	<form action="/test/test3.do" method="get"> <!-- 서버로 데이터를 보내는 태그 -->
	
		<!-- select[name="colorPicker"]#selectColor -->
		<select name="colorPicker" id="selectColor">
			<option value="red">빨간색</option>
			<option value="orange">주황색</option>
			<option value="yellow">노란색</option>
			<option value="green">초록색</option>
			<option value="blue">파란색</option>
			<option value="purple">보라색</option>
		</select>
		
		<input type="submit" value="선택하기" />
		
	</form>
</body>
</html>